.login {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url('https://img.freepik.com/free-vector/gradient-mountain-landscape_52683-77407.jpg?w=1060&t=st=1696905996~exp=1696906596~hmac=0a3c2805fa034a53fa167b65be1c0ea7becd5adb1625bdba69ef62a60cc4e746');
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: 700;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }